.about-us-container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
  }
  .about-us-header {
    text-align: center;
    margin-bottom: 30px;
  }
  .about-us-content section {
    margin-bottom: 20px;
  }
  .about-us-footer {
    text-align: center;
    margin-top: 30px;
  }
  button {
    margin-top: 15px;
  }

  button{
    background-color: #a1f022;
    border: none;
    padding: 15px;
}

.about-us-info{
  width: 100%;
  padding: 20px;
}
.about-us-image{
  width: 100%;
  background-image: url('/chi-siamo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

a{
  padding: 10px;
  background-color: #a1f022;
  color: #000;
  text-decoration: none;
}