<nav>
    <span>AngFitness</span>
    <ul>
        <li>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li>
            <a routerLink="/chi-siamo" routerLinkActive="active">Chi siamo</a>
        </li>
        <li>
            <a routerLink="/corsi" routerLinkActive="active">Corsi</a>
        </li>
        <li>
            <a routerLink="/amministrazione" routerLinkActive="active">Amministrazione</a>
        </li>
    </ul>
</nav>